node_modules/
.DS_Store
*.log
/recom/

# Large binary files
*.exe
*.apk
*.zip
*.mp4
*.json
!package.json
!package-lock.json
!capacitor.config.json
!google-services.json

# Build/scratch folders
/scratch/
/absen-native/
/absen-admin/

# Credentials & Secrets (Sangat Rahasia - Tidak boleh masuk GitHub)
pinguinabsen-*.json
google-services.json
android/app/google-services.json
